.main__container {
    margin-left: 160px;
    margin-top: 60px;

    &-p-first {
        font-size: 24px;
        margin-bottom: 8px;
    }

    &-h1 {
        font-size: 120px;
        margin-bottom: 16px;
        font-family: $second-font;
        max-width: 50%;
        text-transform: uppercase;
        color: $black;
        line-height: 120px;
        font-weight: 500;

        span {
            color: $pink;
            text-transform: uppercase;
            font-family: $second-font;
        }
    }

    &-p-second {
        color: $black;
        font-size: 18px;
        margin-bottom: 48px;
    }

    &-button {
        padding: 16.5px 34px;
        background-color: $pink;
        border-radius: 32px;
        text-decoration: none;
        color: white;
    }

    &-h2 {
        margin-top: 121px;
        margin-bottom: 48px;
        font-size: 48px;
        color: $black;
        text-transform: uppercase;
        font-family: $second-font;
        font-weight: 400;
    }

    &-section {
        display: flex;
        column-gap: 32px;
        margin-bottom: 55px;

        &-div {
            max-width: 20%;

            h3 {
                margin-top: 24px;
                font-size: 24px;

            }

            p {
                max-width: 70%;
                color: $grey;
                margin-top: 8px;
                font-size: 18px;
            }
        }



    }
}